ul #menu_items li.file_menu_item a{
  color: #424242;
  display: block;
  padding: 3px;
}
#menu_items > a:hover{
  color: white;
  display: block;
  padding: 3px;
  background-color: #009afd;
}
#menu_items .section_header{
  color: #9e9e9e;
}
#myPopover{
  margin-left: -35px;
}
#file_input_id{
  display:none;
}
.hide{
  display: none;
}
.grey{
  color: #424242 !important;
}
