.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.colrchange{
 background-color:red!important;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    background-color: white;
}

.overlay-content {
<<<<<<< HEAD
    top: 25%;
    width: 100%;
=======
    
    top: 25%;
    width: 100%;
    text-align: center;
>>>>>>> amit
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

<<<<<<< HEAD

=======
 
>>>>>>> amit

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;width: 80px;
  background-color: #f26130;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2EA664;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2EA664;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.lightFont{
    color: #6c727c;font-size:5;display:inline-block;
}

.lightFont{
    color: #6c727c;font-size:5;display:inline-block;
}
<<<<<<< HEAD


=======
 
    
>>>>>>> amit
.formButton {background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.disabled {
    opacity: 0.6;
<<<<<<< HEAD

}
=======
  
}
>>>>>>> amit
