.padding
{
  padding-left:10px;
  padding-right:0px;
  padding-top:2px;
  padding-bottom:2px;
}
.links:hover{
 background-color:#3e313c;
}
.channelfeilds:hover
{
  background-color: black!important;
}
