<style>
.dropbtnbell {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtnbell:hover, .dropbtnbell:focus {
    background-color: #2980B9;
}

.dropdownbell {
    position: relative;
    display: inline-block;
}

.dropdownbell-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:20px;
}

.dropdownbell-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownbell a:hover {background-color: #ddd}

.show {display:block;}
</style>
