.menuoption {
 top: 77px;
 height: 100%;
 height:230px;
 width: 0;
 position: fixed;
 z-index: 1;
 right: 0;
 background-color: #F5F5F5;
 overflow-x: hidden;
 transition: 0.5s;
 /* padding-top: 100px; */
}

.menuoption a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 15px;
 color: black;
 display: block;
 transition: 0.3s;
}

.menuoption a:hover {
 background-color: grey;
}



@media screen and (max-height: 450px) {
 .menusetting {
   padding-top: 15px;

 }
 .menuoption a {
   font-size: 15px;
 }
