#page {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
}



#page_contents
{
  margin: 0 auto;
  box-sizing: border-box;
  padding: 6rem 2rem;
  color: #2c2d30;;
  width: 1024px;
}





.card
{
  background-color: #fff;
border-radius: .25rem;
box-shadow: 0 1px 0 rgba(0,0,0,.25);
padding: 2rem 2rem 1rem;
position: relative;
border: 1px solid #e8e8e8;

}

.col {
    display: block;
    margin: 0 0 2%;

  }

.span_4_of_6 {
    width: 68%;
}

.large_left_padding {
    padding-left: 2rem ;
}

.large_right_padding
{
  padding-right:2rem;
}

.large_bottom_padding {
    padding-bottom: 2rem ;
}

.margin_auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.large_bottom_margin {
    margin-bottom: 2rem !important;
}

.align_center, .centered {
    text-align: center !important;
}

.float_none {
    float: none !important;
}

.no_bottom_margin {
    margin-bottom: 1rem !important;
}

p {
    margin: 0 0 1rem;
}


nav.top
{
  position: fixed;
top: 0;
width: 100%;
height: 70px;
z-index: 99;
}

nav.top ul li {
    display: inline-block;
}


.btn_large {
    padding: 14px 32px 16px;
    font-size: 20px;
}

.btn {
    background: #2ea664;
    color: #fff;
    line-height: 1.2rem;
    font-weight: 900;
}

form .domain_input {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    -webkit-box-pack: end;

    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

form .domain_input #domain {
    flex-shrink: 10;
    flex-grow: 10;
    min-width: 150px;
    height: 50px;
}

.domain
{
  color: black;
  font-weight: 700;
font-size: 1.3rem;
flex-shrink: 0;
flex-grow: 0;
}

input.input_inline {
    width: auto;
}
.small_right_margin {
    margin-right: .5rem !important;
}
.align_right {
    text-align: right !important;
}
.small_bottom_margin
{
  margin-bottom: 0rem !important;
}
.bold {
    font-weight: 700 !important;
}
